body {
    background-color: blue;
}

#parent{
    background-color: #C8AB83;
    color: white;
    padding: 10px;
    height: 300px;
  }

  .absolute {
    background-color: #fff;
    color: #111;
    position: absolute;
    right: 0;
    border: 3px solid #abba00;
 }

 #desc {
    height: 300px;
    background-color: lime;
    border: 3px solid black;
    padding: 10px;
    background-image: url("1.png");
 }

 .image {
    height: 300px;
    padding: 15px;
    background-image: url("1.png");
    background-size: auto;
    /*background-repeat: no-repeat;*/
    /*background-repeat: repeat;*/
    background-repeat: repeat-x;
    background-position: left top;
    border: 3px dashed;
 }

 #first {
    width: 300px;
    height: 300px;
    border: 3px solid white;
    background-image: url("1.png");
    background-size: contain;
 }

 #second {
    width: 300px;
    height: 300px;
    border: 2px dashed red;
    background-image: url("1.png");
    background-size: cover;
 }